<div>
  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#create-inventory-set-modal">
    <i class="fa fa-plus fa2"></i> New Inventory Set
  </button>
  <div class="modal fade" id="create-inventory-set-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4>Create Inventory Set</h4>
        </div>
        <div class="modal-body">
          Name: <input type="text" name="name" ng-model="newInventorySetData.name"><br>
          Active: <input type="checkbox" ng-model="newInventorySetData.active">
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" ng-click="submitCreate()">Create</button>
          <button class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
